html, body, #root, .body{
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-color: rgba(255,248,220, 1);
}
.header-navbar{
  display: none;
  visibility: hidden;
}
.header-container{
  background-color: rgba(102,34,0, 1);
  color: white;
  height: 80px;
}
.header-hamburger{
  cursor: pointer;
  top: 0;
  height: 100%;
  color: white;
  border: 0;
  background: 0;
}
.homepage-settings-section{
  padding: 5px 0;
  display: flex;
  justify-content: space-around;
}
.header-hamburger:active{
  color: rgba(200,200,200, 1);
}
.homepage-search-container{
  background-color: rgba(117,181,80, 1);
}
.main-component-container{
  margin: 10px 0;
}
.homepage-search-title, .homepage-search-box{
  text-align: center;
}
.homepage-search-box{
  margin: 10px 0;
  border: 0;
  background: 0;
  outline: 0;
  border-bottom: 1px solid white;
}
#zipcode{
  width: 80px;
  border-bottom: 1px solid black;
}
.homepage-search-box:focus{
  background-color: rgba(255,255,255, 0.2);
}
@media (min-width: 680px) {
  .changeButtons{
    margin-left: 200pt;
    width: 300pt;
    display: flex;
    border: 1pt black blue;
    background-color: none;
    list-style-type: none;
    justify-content: space-between;
  }
  .homepage-search-title, .homepage-search-box{
    display: inline;
  }
  .header-hamburger{
    visibility: hidden;
    display: none;
  }
  .header-navbar{
    height: 0%;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 20px;
    visibility: visible;
  }
  .main-component-container{
    margin: 3vh 3vw;
  }
}
@media (min-width: 992px) {
  .main-component-container{
    margin: 5vh 5vw;
  }
}
/*******************************
TEMP MODAL STYLES
*******************************/
.modal.left .modal-dialog{
  position: fixed;
  margin: auto;
  width: 170px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
       -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}
.modal.left .modal-content{
  height: 100%;
  color: black;
  overflow-y: auto;
}
.modal.left .modal-body{
  padding: 15px 15px 80px;
}
.modal.left.fade .modal-dialog{
  left: -170px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
       -o-transition: opacity 0.3s linear, left 0.3s ease-out;
          transition: opacity 0.3s linear, left 0.3s ease-out;
}
.modal.left.fade.in .modal-dialog{
  left: 0;
}
.plant_big_image {
  width: 570px;
  height: 724px;
  background-color: #F1F1F1;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
